#header {
//  position: relative;
  height:70px;
  padding:28px 0 0;
  box-shadow:none;

  .title {
	position:relative;
	float:left;
	margin: 0 70px 0 42px;
	width:auto;
	font-size:42px;
	font-weight:normal;
  }

  .right-btns {
	float:left;
  }
}

#menu-btn {
  display: none;
}
.action-btn {
  height:28px;
  width:28px;
  line-height:28px;
  border-radius:50%;
  border-width:1px;
  margin-right:7px;
}