body {
  overflow:auto;
  overflow-x:hidden;
}

#main {
  margin-left: 250px;
  overflow:auto;
}
#content-container {
  top: 70px;
  overflow: visible;
}
#content {
  padding:42px 42px 0; // -- gutters
}

.overlay .sideMenuOverlay {
  display:none;
}
#nav {
  z-index:2000;
}