<div class="dropdown-menu datepicker animate" ng-if="open">
	<div class="datepicker-controls">
		<button tabindex="-1" type="button" ng-click="move(-1)"><i class="fa fa-chevron-left"></i></button>
		<button tabindex="-1" type="button" ng-click="toggleMode()" class="modeBtn">Jan 2013</button>
		<button tabindex="-1" type="button" ng-click="move(1)"><i class="fa fa-chevron-right"></i></button>
	</div>
	<div class="datepicker-body">
		<div class="datepicker-labels">
			<span>Sun</span>
			<span>Mon</span>
			<span>Tue</span>
			<span>Wed</span>
			<span>Thu</span>
			<span>Fri</span>
			<span>Sat</span>
		</div>
		<div class="date-row first">
			<div><button tabindex="-1" type="button" class="outday"><span>27</span></button></div>
			<div><button tabindex="-1" type="button" class="outday"><span>28</span></button></div>
			<div><button tabindex="-1" type="button" class="outday"><span>29</span></button></div>
			<div><button tabindex="-1" type="button" class="outday"><span>30</span></button></div>
			<div><button tabindex="-1" type="button"><span>1</span></button></div>
			<div><button tabindex="-1" type="button"><span>2</span></button></div>
			<div><button tabindex="-1" type="button"><span>3</span></button></div>
		</div>
		<div class="date-row">
			<div><button tabindex="-1" type="button"><span>4</span></button></div>
			<div><button tabindex="-1" type="button"><span>5</span></button></div>
			<div><button tabindex="-1" type="button"><span>6</span></button></div>
			<div><button tabindex="-1" type="button"><span>7</span></button></div>
			<div><button tabindex="-1" type="button"><span>8</span></button></div>
			<div><button tabindex="-1" type="button"><span>9</span></button></div>
			<div><button tabindex="-1" type="button"><span>10</span></button></div>
		</div>
		<div class="date-row">
			<div><button tabindex="-1" type="button"><span>11</span></button></div>
			<div><button tabindex="-1" type="button"><span>12</span></button></div>
			<div><button tabindex="-1" type="button"><span>13</span></button></div>
			<div><button tabindex="-1" type="button"><span>14</span></button></div>
			<div><button tabindex="-1" type="button"><span>15</span></button></div>
			<div><button tabindex="-1" type="button"><span>15</span></button></div>
			<div><button tabindex="-1" type="button"><span>17</span></button></div>
		</div>
		<div class="date-row">
			<div><button tabindex="-1" type="button"><span>18</span></button></div>
			<div><button tabindex="-1" type="button"><span>19</span></button></div>
			<div><button tabindex="-1" type="button"><span>20</span></button></div>
			<div><button tabindex="-1" type="button"><span>21</span></button></div>
			<div><button tabindex="-1" type="button"><span>22</span></button></div>
			<div><button tabindex="-1" type="button"><span>23</span></button></div>
			<div><button tabindex="-1" type="button"><span>24</span></button></div>
		</div>
		<div class="date-row">
			<div><button tabindex="-1" type="button"><span>25</span></button></div>
			<div><button tabindex="-1" type="button"><span>26</span></button></div>
			<div><button tabindex="-1" type="button"><span>27</span></button></div>
			<div><button tabindex="-1" type="button"><span>28</span></button></div>
			<div><button tabindex="-1" type="button"><span>29</span></button></div>
			<div><button tabindex="-1" type="button"><span>30</span></button></div>
			<div><button tabindex="-1" type="button"><span>31</span></button></div>
		</div>
		<div class="date-row">
			<div><button tabindex="-1" type="button" class="outday"><span>1</span></button></div>
			<div><button tabindex="-1" type="button" class="outday"><span>2</span></button></div>
			<div><button tabindex="-1" type="button" class="outday"><span>3</span></button></div>
			<div><button tabindex="-1" type="button" class="outday"><span>4</span></button></div>
			<div><button tabindex="-1" type="button" class="outday"><span>5</span></button></div>
			<div><button tabindex="-1" type="button" class="outday"><span>6</span></button></div>
			<div><button tabindex="-1" type="button" class="outday"><span>7</span></button></div>
		</div>
	</div>
</div>